.ui-datalist {
    background: none repeat scroll 0px 0px transparent ! important;
    border: medium none ! important;
}

.ui-datalist-content {
    border: medium none ! important;
}

.ui-datalist-data {
    margin: 0;
    padding: 0;
}

.ui-datalist-item {
     list-style-type: none ! important;
}
